{# Depending on where this widget is called from,
  the articles list is in articles or all_articles #}
{% if all_articles %}
  {% set articles_list = all_articles %}
{% else %}
  {% set articles_list = articles %}
{% endif %}

{% if article is defined %}
  {% set thisarticle = article %}
{% else %}
  {% set thisarticle = 0 %}
{% endif %}

{# Only show the widget content if:
  - There a configured count of articles to display
  - There's any articles in articles_list
  - There's at least 2 articles...
  - ...Or at least 1 article if the widget count is set to 1 #}
{% if ARTICLES_WIDGET_COUNT and articles_list|length != 0 and (articles_list|length > 1 or ARTICLES_WIDGET_COUNT == 1) %}
  <aside class="siteFooter_articles widget">
    {% if ARTICLES_WIDGET_NAME %}
      <h1 class="widget_title">{{ ARTICLES_WIDGET_NAME }}</h1>
    {% endif %}

    <ol class="imageList list-noType">
      {# If this is the index page, the first article is always displayed.
         It gets skipped inside the loop, so increment the counter #}
      {% if isindex %}
        {% set max_iterations = ARTICLES_WIDGET_COUNT + 1 %}
      {% else %}
        {% set max_iterations = ARTICLES_WIDGET_COUNT %}
      {% endif %}

      {# Skip displaying this article if this is the page for the article being displayed in full
         If this isn't an article page, always display the item (note the additional condition below for index pages) #}
      {% for article in articles_list if article.url != thisarticle.url or thisarticle == null %}

        {# If this is the index page and the first loop iteration, the article to be displayed in the widget would be the same one
           displayed in full on the page. So, skip it. (Note the counter is incremented before the loop to account for this.) #}
        {% if not(loop.index == 1 and isindex) %}
            {% set articles_widget = true %}
            {% include 'includes/articleitem.html' %}
        {% endif %}

        {# If the set number of articles have been added to the widget, we're done here. #}
        {% if loop.index == max_iterations %} {% break %} {% endif %}
      {% endfor %}
    </ol>

    <p class="readMore">
      <a class="readMore_link" href="{{ SITEURL }}/{{ ARTICLES_URL }}">More...</a>
    </p>
  </aside>
{% endif %}