<li class="imageList_item">
  <article class="articleBrief">
    <header class="articleBrief_header">
      {% if article.image %}
        <aside class="imageList_aside">
          <a href="{{ SITEURL }}/{{ article.url }}"><img class="imageList_image" src="/images/{{ article.image }}"></a>
        </aside>
      {% endif %}
      {% if articles_widget %}
      <h2 class="articleBrief_title-widget">
      {% else %}
        <h2 class="articleBrief_title">
      {% endif %}
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        {% if COMMENTS_SHOW_COUNT and not articles_widget %}
          {% if DISQUS_SITENAME %}
            {# TODO: implement Disqus comment counts #}
          {% elif ISSO_URL %}
            {% include 'includes/commentcount.html' %}
          {% endif %}
        {% endif %}
      </h2>

      {% if articles_widget %}
        <div class="articleBrief_meta-widget subtext">
      {% else %}
        <div class="articleBrief_meta subtext">
      {% endif %}
        {% if ARTICLE_SHOW_DATE and article.date %}
          {% if articles_widget %}
            <date class="articleBrief_published-widget" title="Published On:" datetime="{{ article.locale_date }}" pubdate>
          {% else %}
            <date class="articleBrief_published" title="Published On:" datetime="{{ article.locale_date }}" pubdate>
          {% endif %}
            {{ article.locale_date }}
          </date>&#32;
        {% endif %}

        {% if article.authors and ARTICLE_SHOW_AUTHORS %}
          <address class="attribution">
             by&#32;
            <ul class="list-noType list-horizontal">
              {% for author in article.authors %}
                <li>
                  {% if CUSTOM_AUTHOR_URL %}
                    <a href="{{ SITEURL }}/{{ CUSTOM_AUTHOR_URL }}">
                  {% else %}
                    <a href="{{ SITEURL }}/{{ author.url }}">
                  {% endif %}
                    {{ author }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </address>&#32;
        {% endif %}

        {% if ARTICLE_SHOW_CATEGORY and article.category %}
          <span>
             in <a href="{{ article.category.url }}">{{ article.category }}</a>
          </span>
        {% endif %}
      </div>
    </header>

    {% if ARTICLE_SHOW_SUMMARY %}
      <section class="articleBrief_summary subtext">
        {{ article.summary | truncate(ARTICLE_SUMMARY_LENGTH + 6) }}
      </section>
    {% endif %}
  </article>
</li>
