{% if thisarticle is not defined %}
  {% set thisarticle = articles[0] %}
{% endif %}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(thisarticle) }}

<article class="articleEntry">
  <header class="articleEntry_info">
    <h1 class="articleEntry_title">
      <a href="{{ SITEURL }}/{{ thisarticle.url }}" rel="bookmark" title="Permalink to {{ thisarticle.title|striptags }}">{{ thisarticle.title }}</a>
    </h1>

    <div class="articleEntry_meta subtext">
      {% if thisarticle.authors and ARTICLE_SHOW_AUTHORS %}
        <address class="attribution">
          by&#32;
          <ul class="list-noType list-horizontal">
            {% for author in thisarticle.authors %}
              <li>
                {% if CUSTOM_AUTHOR_URL %}
                  <a href="{{ SITEURL }}/{{ CUSTOM_AUTHOR_URL }}">
                {% else %}
                  <a href="{{ SITEURL }}/{{ author.url }}">
                {% endif %}
                  {{ author }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </address>&#32;
      {% endif %}

      {% if ARTICLE_SHOW_DATE and thisarticle.date %}
        <date class="articleEntry_published" title="Published On:" datetime="{{ thisarticle.locale_date }}" pubdate>
          <i class="articleEntry_icon-meta {{ ICON_STYLE }} icon">calendar-alt</i>&#32;
          {{ thisarticle.locale_date }}
        </date>
      {% endif %}

      {% if ARTICLE_SHOW_CATEGORY and thisarticle.category %}
        <span>&#32;in <a href="{{ thisarticle.category.url }}">{{ thisarticle.category }}</a></span>&#32;
      {% endif %}

      {% if thisarticle.ert and READTIME_DISPLAY %}
        <date class="articleEntry_readtime" title="Reading Time:" datetime="P {{ thisarticle.ert }} M">
          <i class="articleEntry_icon-meta {{ ICON_STYLE }} icon">clock</i>&#32;
          {%- if thisarticle.ert|int <= 1 -%}
            less than a minute
          {%- else -%}
            {{ thisarticle.ert }} minutes
          {%- endif -%}
        </date>&#32;
      {% endif %}

      {% if thisarticle.nowlistening %}
        <span class="articleEntry_nowListening" title="Now Listening To:"><i class="articleEntry_icon-meta {{ ICON_STYLE}} icon">music</i> {{ thisarticle.nowlistening }}</span>
      {% endif %}

      {% if ARTICLE_SHARE_LINKS and thisarticle.status != 'draft' %}
        <span class="articleEntry_share">
          <i class="articleEntry_icon-meta {{ ICON_STYLE }} icon">share-square</i> Share this:
          <a href="{{ thisarticle.share_post['twitter'] }}" target="_blank" title="Share on Twitter"><i class="articleEntry_icon-meta fab icon">twitter</i></a>
          <a href="{{ thisarticle.share_post['linkedin'] }}" target="_blank" title="Share on LinkedIn"><i class="articleEntry_icon-meta fab icon">linkedin-in</i></a>
          <a href="{{ thisarticle.share_post['facebook'] }}" target="_blank" title="Share on Facebook"><i class="articleEntry_icon-meta fab icon">facebook</i></a>
          <a href="{{ thisarticle.share_post['hacker-news'] }}" target="_blank" title="Share on Hacker News"><i class="articleEntry_icon-meta fab icon">hacker-news</i></a>
          <a href="{{ thisarticle.share_post['email'] }}" target="_blank" title="Share via Email"><i class="articleEntry_icon-meta {{ ICON_STYLE }} icon">envelope</i></a>
        </span>
      {% endif %}
    </div>
  </header>

  <div class="articleEntry_content">
    {{ thisarticle.content }}
  </div>

  <section class="articleEntry_moreMeta">
    {% if ARTICLE_SHOW_TAGS and thisarticle.tags %}
      <footer class="articleEntry_tags">
        <ul class="tagsList">
          {% for tag in thisarticle.tags %}
            <li class="tagItem">
                <a class="tagItem_link" title="Click to see all articles tagged '{{ tag }}'" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </footer>
    {% endif %}

    {% if thisarticle.modified and ARTICLE_SHOW_EDITINFO %}
      <footer class="articleEntry_editInfo subtext">
        <span>Updated:&#32;</span>
        <date datetime="{{ thisarticle.locale_modified }}">
          {{ thisarticle.locale_modified }}
        </date>
        {% if thisarticle.editreason %}
          <span class="articleEntry_editReason">({{ thisarticle.editreason }})</span>
        {% endif %}
      </footer>
    {% endif %}
  </section>
  
  {% if isindex %}
    <footer class="articleEntry_commentsTease">
      <a href="{{thisarticle.url}}#comments">Discuss this article...</a>
    </footer>
  {% endif %}
</article>