{% if DISQUS_SITENAME %}
  <a name="comments"></a>
  <div id="disqus_thread" class="articleEntry_comments"></div>
  <script src="{{ SITEURL }}/theme/js/md5.js"></script>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ SITEURL }}/{{ article.url }}';
      // this.page.identifier = 'md5({{ article.date }})';
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% elif ISSO_URL %}
  <a name="comments"></a>
  <div class="articleEntry_comments">
    <header class="comments_header">
      <h2>Comments on "{{ thisarticle.title }}"</h2>
      <span class="comments_policy">Engage, converse, argue, reason. Disagreement is welcomed, personal attacks are not.</span>
    </header>

    <script data-isso="{{ ISSO_URL }}/"
      data-isso-css="{{ ISSO_CSS | lower }}"
      data-isso-lang="{{ DEFAULT_LANG }}"
      data-isso-reply-to-self="{{ ISSO_REPLY_TO_SELF | lower }}"
      data-isso-require-author="{{ ISSO_REQUIREAUTHOR | lower }}"
      data-isso-require-email="{{ ISSO_REQUIRE_EMAIL | lower }}"
      data-isso-max-comments-top="{{ ISSO_MAX_COMMENTS_TOP }}"
      data-isso-max-comments-nested="{{ ISSO_MAX_COMMENTS_NESTED }}"
      data-isso-reveal-on-click="{{ ISSO_REVEAL_ON_CLICK }}"
      data-isso-avatar="{{ ISSO_AVATAR | lower }}"
      data-isso-avatar-bg=" {{ ISSO_AVATAR_BG }}"
      data-isso-avatar-fg=" {{ ISSO_AVATAR_FG }}"
      data-isso-gravatar=" {{ ISSO_GRAVATAR | lower }}"
      data-isso-vote="{{ ISSO_VOTE | lower }}"
      data-isso-vote-levels="{{ ISSO_VOTE_LEVELS }}"
      data-isso-feed=" {{ ISSO_FEED | lower }}"
      src="{{ ISSO_URL }}/js/embed.min.js">
    </script>

    <section id="isso-thread" data-title="{{ ISSO_COMMENTS_TITLE }}"></section>
  </div>
{% endif %}