<span class="fa-layers fa-fw articleBrief_commentCounter" title="Article Comments:">
  <a class="commentCounter_link-icon" href="{{ SITEURL }}/{{ article.url }}#comments"><i class="{{ ICON_STYLE }} icon">comment</i></a>
  <span class="fa-layers-counter commentCounter_count"><a class="commentCounter_link-badge" href="{{ SITEURL }}/{{ article.url }}#isso-thread"></a></span>
</span>