{% if links_widget %}
  <ul class="linksList list-noType">
{% else %}
  <ul class="linksList siteContent_list list-noType">
{% endif %}

  {% if links_widget %}
    {% set links_list = (LINKS|randomsort)[:LINKS_WIDGET_COUNT] %}
  {% else %}
    {% set links_list = LINKS|randomsort %}
  {% endif %}

  {% for name, desc, link in links_list %}
    <li class="linksList_linkItem">
      <h2 class="linksList_linkTitle">
        <a class="linksList_link" href="{{ link }}" target="_blank">{{ name }}</a>
      </h2>
      {% if links_widget %}
        <span class="subtext">
      {% else %}
        <span>
      {% endif %}
        {{ desc }}
      </span>
    </li>
  {% endfor %}
</ul>
