{% set msiteurl = 'https://tohuw.net' %}
{% set msitename = 'Tohuw.Net' %}
{% set msiteauthor = 'Ron Scott-Adams' %}

{% macro pullquote(text, class='articleEntry_pullquote') %}
  <span data-pullquote="{{ text }}" class="{{ class }}"></span>
{% endmacro %}

{% macro icon(iconname, style='{{ ICON_STYLE }}', class=('articleEntry_icon icon ' + style), element='i') %}
  <{{ element }} class="{{ class }}">{{ iconname }}</{{ element }}>
{% endmacro %}

{% macro figure(imgname, alt, linkfull, caption='', class='', specialcontent='') %}
  <figure class="figure{% if class %} {{ class}}{% endif %}">
    {% if imgname %}
      {% if linkfull %}<a href="{{ msiteurl }}/images/{{ linkfull }}" class="articleEntry_imageLink">{% endif %}
        <img class="figure_img" {% if linkfull %}title="Click for fullsize image"{% endif %} src="{{ msiteurl }}/images/{{ imgname }}" {% if alt %}alt="{{ alt }}"{% endif %}>
      {% if linkfull %}</a>{% endif %}
    {% endif %}
    {% if specialcontent %}{{ specialcontent }}{% endif %}
    {% if caption %}<figcaption class="figure_caption">{{ caption }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{% macro img(imgname, alt='', linkfull='', class='') %}
  {% if linkfull %}<a href="{{ msiteurl }}/images/{{ linkfull }}" class="articleEntry_imageLink">{% endif %}
    <img {% if class %}class="{{ class }}"{% endif %} {% if linkfull %}title="Click for fullsize image"{% endif %} src="{{ msiteurl }}/images/{{ imgname }}" {% if alt %}alt="{{ alt }}"{% endif %}>
  {% if linkfull %}</a>{% endif %}
{% endmacro %}

{% macro siteattr(attr='') %}
  {% if attr == 'url' %}{{ msiteurl }}{% endif %}
  {% if attr == 'name' %}{{ msitename }}{% endif %}
  {% if attr == 'author' %}{{ msiteauthor }}{% endif %}
{% endmacro %}

{% macro trackingopts(class='trackingOpts_iFrame', statsurl='https://stats.tohuw.net', lang='en', bgcolor='ffffff', fontcolor='000000', fontsize='21.8667px', fontfamily='Metropolix%2C%20sans-serif') %}
  <iframe class="{{ class }}" src="{{ statsurl }}/index.php?module=CoreAdminHome&action=optOut&language={{ lang }}&backgroundColor={{ bgcolor }}&fontColor={{ fontcolor }}&fontSize={{ fontsize }}&fontFamily={{ fontfamily }}"></iframe>
{% endmacro %}