<nav class="mainMenu">
  <ul class="mainMenu_list list-noType">

    {% for title, link, icon in MENUITEMS %}
      <li class="mainMenu_item menu_item"><a class="menu_link" href="{{ SITEURL }}{{ link }}">
        <i class="mainMenu_icon menu_icon {{ ICON_STYLE }} fa-fw icon">{{ icon }}</i> {{ title }}
      </a></li>
    {% endfor %}

    {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in pages %}
        <li class="mainMenu_item menu_item"><a class="menu_link" href="{{ SITEURL }}/{{ p.url }}">
          <i class="mainMenu_icon menu_icon {{ ICON_STYLE }} fa-fw icon">{{ p.icon }}</i>
          {% if p.menu %}
            {{ p.menu }}
          {% else %}
            {{ p.title }}
          {% endif %}
        </a></li>
      {% endfor %}
    {% endif %}

    {% if CATEGORY_MENU_COUNT > 0 %}
      {% for category, all_articles in categories %}
        <li class="mainMenu_item menu_item"><a class="menu_link" href="{{ SITEURL }}/{{ category.url }}">
          <i class="mainMenu_icon menu_icon {{ ICON_STYLE }} fa-fw icon">list-ul</i> {{ category }}
        </a></li>
        {% if loop.index == CATEGORY_MENU_COUNT %} {% break %} {% endif %}
      {% endfor %}
    {% endif %}

    {% if SOCIAL_MENU %}
    <li class="socialMenu mainMenu_item menu_item">
      <div class="socialMenu_title menu_link" tabindex="1">
        <i class="mainMenu_icon menu_icon {{ ICON_STYLE }} fa-fw icon">globe</i>
        {{ SOCIAL_TITLE }}
      </div>

      {% include 'includes/socialmenu.html' %}
    </li>
    {% endif %}

    {% if TIPUE_SEARCH_ENABLED %}
      {% include 'includes/searchbox.html' %}
    {% endif %}
  </ul>
</nav>