{% if DEFAULT_PAGINATION %}
  <div class="paginator">
    {% if articles_page.has_previous() %}
      <a class="paginator_link" href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="paginator_icon {{ ICON_STYLE }} icon">arrow-left</i></a>
    {% endif %}

    Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}

    {% if articles_page.has_next() %}
      <a class="paginator_link" href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="paginator_icon {{ ICON_STYLE }} icon">arrow-right</i></a>
    {% endif %}
  </div>
{% endif %}
