<li class="search mainMenu_item">
  <i class="menu_icon search_icon {{ ICON_STYLE }} icon">search</i>
  <form class="search_form" action="{{ SITEURL }}/{{ SEARCH_SAVE_AS }}">
    <input type="search" id="tipue_search_input" class="search_field" name="q" pattern=".{3,}" title="Type a search term and press enter" placeholder=" {{ SEARCH_PLACEHOLDER }}" tabindex="0" autocomplete="off" list="search-list">
  </form>
</li>

<datalist id="search-list">
  <option>vSAN</option>
  <option>Hyper-Converged</option>
  <option>HCI</option>
  <option>VMware</option>
  <option>Architecture</option>
</datalist>