<footer class="siteFooter">
  {% include 'includes/articleswidget.html' %}

  {% if LINKS and LINKS_WIDGET_COUNT %}
    <aside class="siteFooter_links widget">
    {% if LINKS_WIDGET_NAME %}
      <h1 class="widget_title">{{ LINKS_WIDGET_NAME }}</h1>
    {% endif %}

    {% set links_widget = true %}
    {% include 'includes/linkslist.html' with context %}
    <p class="readMore">
      <a class="readMore_link" href="{{ SITEURL }}{{ LINKS_URL }}">More...</a>
    </p>
    </aside>
  {% endif %}

  <div class="subtext siteFooter_subtext">
    <span><a class="footerSubtext_link" href="{{ SITEURL }}">{{ SITENAME }}</a>: powered by <a class="footerSubtext_link" href="http://getpelican.com/" target="_blank">Pelican</a> &amp; <a class="footerSubtext_link" href="https://gitlab.com/tohuw/anew" target="_blank">Anew</a>. </span>
    <span class="siteFooter_license"><a class="footerSubtext_link" href="{{ LICENSE_URL }}">{{ LICENSE_TITLE }}</a></span>
  </div>

  {% if SOCIAL_QUICKLINKS %}
    {% set social_widget = true %}

    <aside class="siteFooter_socialMenu">
      {% include 'includes/socialmenu.html' %}
    </aside>
  {% endif %}

  <div class="siteFooter_end"></div>
</footer>