<header class="siteHeader" role="banner">
  <div class="siteHeader_titles">
    <h1 class="siteHeader_title"><a class="siteHeader_link" href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    <h2 class="siteHeader_subtitle">
      {% if SITESUBTITLE_LINK %}
        <a class="siteHeader_link" href="{{ SITEURL }}{{ SITESUBTITLE_LINK }}">{{ SITESUBTITLE }}</a>
      {% else %}
        {{ SITESUBTITLE }}
      {% endif %}
    </h2>
  </div>

  {% block mainmenu %}
    {% include 'includes/mainmenu.html' %}
  {% endblock %}
</header>