{% if social_widget %}
  <ul class="socialMenu_widget list-horizontal list-noType">
{% else %}
  <ul class="socialMenu_submenu menu_list list-noType">
{% endif %}

  {% if FEEDS_LINK %}
    <li class="menu_item"><a class="menu_link link-rss" href="{{ FEEDS_LINK }}">
      <i class="menu_icon {{ ICON_STYLE }} icon fa-rss">rss</i>
      {% if social_widget is not defined %}
        Subscribe
      {% endif %}
    </a></li>
  {% endif %}

  {% if LINKS_URL %}
    <li class="menu_item"><a class="menu_link link-externalLink" href="{{ LINKS_URL }}">
      <i class="menu_icon {{ ICON_STYLE }} icon fa-external-link">external-link</i>
      {% if social_widget is not defined %}
        Links
      {% endif %}
    </a></li>
  {% endif %}

  {% if TWITTER_USERNAME %}
    <li class="menu_item"><a class="menu_link link-twitter" href="https://twitter.com/{{ TWITTER_USERNAME }}">
      <i class="menu_icon fab icon fa-twitter">twitter</i>
      {% if social_widget is not defined %}
        Twitter
      {% endif %}
    </a></li>
  {% endif %}

  {% if LINKEDIN_USERNAME %}
    <li class="menu_item"><a class="menu_link link-linkedin" href="https://linkin.com/in/{{ LINKEDIN_USERNAME }}">
      <i class="menu_icon fab icon fa-linkedin-in">linkedin-in</i>
      {% if social_widget is not defined %}
        LinkedIn
      {% endif %}
    </a></li>
  {% endif %}

  {% if GITHUB_USERNAME %}
    <li class="menu_item"><a class="menu_link link-github" href="https://github.com/{{ GITHUB_USERNAME }}">
      <i class="menu_icon fab icon fa-github">github</i>
      {% if social_widget is not defined %}
        GitHub
      {% endif %}
    </a></li>
  {% endif %}

  {% if GITLAB_USERNAME %}
    <li class="menu_item"><a class="menu_link link-gitlab" href="https://gitlab.com/{{ GITLAB_USERNAME }}">
      <i class="menu_icon fab icon fa-gitlab">gitlab</i>
      {% if social_widget is not defined %}
        GitLab
      {% endif %}
    </a></li>
  {% endif %}
</ul>
