<ul class="tagCloud list-noType list-horizontal">
{% for tag in tag_cloud %}
  <li class="tagCloud_tag tagItem tagItem-{{ tag.1 }}">
    <a class="tagItem_link" href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a>

    {% if TAG_CLOUD_BADGE %}
      <span class="badge">{{ tag.2 }}</span>
    {% endif %}
  </li>
{% endfor %}
</ul>
