{% extends 'base.html' %}

{% block head %}
  <meta http-equiv="refresh" content="0; url={{ SITE_URL }}/{{ CUSTOM_AUTHOR_URL }}">
{% endblock %}

{% block body %}
  <p class="redirectInfo">
    Redirecting to: <a href="{{ SITE_URL }}/{{ CUSTOM_AUTHOR_URL }}">{{ SITE_URL }}/{{ CUSTOM_AUTHOR_URL }}</a>...
  </p>
{% endblock %}