{% extends "base.html" %}

{% block title %}
  Articles on {{ super () }}
{% endblock %}

{% block content %}
<div class="siteContent_page">
  <h1>Articles on {{ SITENAME }}</h1>

  <ol class="articles siteContent_list list-noType">
    {% set articles_widget = false %}
    {% for article in dates %}
      {% include 'includes/articleitem.html' %}
    {% endfor %}
  </ol>
</div>
{% endblock %}
