{% extends "base.html" %}

{% block title %}
  Authors of
  {{ super() }}
{% endblock %}

{% block content %}
  <h1 class="pageTitle">Authors on {{ SITENAME }}</h1>

  <ul class="list-noType">
  {% for author, articles in authors|sort %}
    <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
  {% endfor %}
  </ul>
{% endblock %}
