{% extends "index.html" %}

{% block title %}
  Articles by {{ author }} on
  {{ super() }}
{% endblock %}

{% block content %}
  <h1 class="pageTitle">Articles by {{ author }} on {{ SITENAME }}</h1>

  <ol class="imageList">
    {% set articles_widget = false %}
    {% for article in articles %}
      {% include 'includes/articleitem.html' %}
    {% endfor %}
  </ol>
{% endblock %}
