<!doctype html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
    {% block metadata %}
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if article and article.author %}
        <meta name="author" content="{{ article.author }}">
        <meta name="copyright" content="{{ article.author }}">
      {% elif page and page.author %}
        <meta name="author" content="{{ page.author }}">
        <meta name="copyright" content="{{ page.author }}">
      {% else %}
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="copyright" content="{{ AUTHOR }}">
      {% endif %}
      {% if SITE_DESCRIPTION %}
        <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION }}{% endblock head_description %}">
      {% endif %}
    {% endblock %}

    {% block feeds %}
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
      {% endif %}
      {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
      {% endif %}
      {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
      {% endif %}
      {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
      {% endif %}
      {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
      {% endif %}
      {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
      {% endif %}
      {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
      {% endif %}
      {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
      {% endif %}
    {% endblock %}

    {% block assets %}
    {% if MATOMO_SITE_ID and MATOMO_URL %}
      <script defer id="piwikscript" data-piwik-domains="*.{{ BASE_URL }}" data-piwik-url="//{{ MATOMO_URL }}/" data-piwik-siteid="{{ MATOMO_SITE_ID }}" src="{{ SITEURL }}/theme/js/piwik.js"></script>
    {% endif %}

    {% if JQUERY_ENABLED %}
      <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
      <script defer src="{{ SITEURL }}/theme/js/admonitions.js"></script>
    {% endif %}

    {% if MODERNIZR_ENABLED %}
      <script defer src="{{ SITEURL }}/theme/js/modernizr.js"></script>
    {% endif %}

    {% if ARTICLE_FANCY_FOOTNOTES and JQUERY_ENABLED %}
      <script defer src="{{ SITEURL }}/theme/js/bigfoot.js"></script>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bigfoot-default.css">
    {% endif %}
    
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">

    {% if ICON_METHOD == 'js' %}
      <script defer src="{{ SITEURL }}/theme/js/fontawesome.js"></script>
    {% elif ICON_METHOD == 'css' or ICON_METHOD != null %}
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fontawesome.css">
    {% endif %}

    {% if TIPUE_SEARCH_ENABLED and JQUERY_ENABLED %}
      <script defer src="{{ SITEURL }}/theme/js/tipuesearch.js"></script>
    {% endif %}

    <title>{% block title %}{% if page %}{{ page.title }} – {% endif %}{{ SITENAME|striptags }}{% endblock title %}</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    {# Place favicon.ico in the root directory #}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    {% endblock %}
  {% endblock %}
</head>

<body>
  {% block body %}
    {% block siteheader %}
      {% include 'includes/siteheader.html' %}
    {% endblock %}

    <main class="siteContent">
      {% block content %}
      {% endblock %}
    </main>

    {% block sitefooter %}
      {% include 'includes/sitefooter.html' %}
    {% endblock %}

    {# Most comment systems don't support loading the comment count script and comment threads on the same page. #}
    {% if COMMENTS_SHOW_COUNT and not thisarticle %}
      {% if DISQUS_SITENAME %}
        {# TODO: implement Disqus comment counts #}
      {% elif ISSO_URL %}
        <script data-isso="{{ ISSO_URL }}" src="{{ SITEURL }}/theme//js/isso-commentcount.js"></script>
      {% endif %}
    {% endif %}

    {% if MATOMO_SITE_ID and MATOMO_URL %}
      <noscript>
        <img class="piwikNoScript" src="//{{ MATOMO_URL }}/piwik.php?idsite={{ MATOMO_SITE_ID }}&rec=1" alt="piwik-tracker">
      </noscript>
    {% endif %}
  {% endblock %}
</body>
</html>
