{% extends "base.html" %}

{% block title %}
  {{ category|striptags }} Articles on
  {{ super () }}
{% endblock %}

{% block content %}
<div class="siteContent_page">
  <h1 class="pageTitle">{{ category }} Articles on {{ SITENAME }}</h1>

  <ol class="imageList list-noType">
    {% set articles_widget = false %}
    {% for article in articles %}
      {% include 'includes/articleitem.html' %}
    {% endfor %}
  </ol>
</div>
{% endblock %}
