{% extends "base.html" %}

{% block title %}
  Topics on
  {{ super () }}
{% endblock %}

{% block content %}
  <h1 class="pageTitle">Topics on {{ SITENAME }}</h1>

  <ul class="list-noType">
  {% for category, articles in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
