{% extends "page.html" %}

{% block content %}
<div class="siteContent_page">
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  <h1 class="pageTitle">{{ page.title }}</h1>

  {{ page.content }}

  {% set links_widget = false %}
  {% include 'includes/linkslist.html' with context %}
</div>
{% endblock %}
