{% extends "base.html" %}

{% block content %}
<div class="siteContent_page">
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  <h1 class="pageTitle">{{ page.title }}</h1>

  {{ page.content }}

  {% if page.modified and PAGE_SHOW_MODDATE %}
    <p class="pageModified">Last updated: {{ page.locale_modified }}</p>
  {% endif %}
</div>
{% endblock %}
