{% extends "base.html" %}

{% block title %}
  Archives for {{ period | reverse | join(' ') }} on
  {{ super () }}
{% endblock %}

{% block content %}
  <h1 class="pageTitle">Archives for {{ period | reverse | join(' ') }}</h1>

  <dl class="archivesList">
  {% for article in dates %}
    <div class="archiveItem">
      <dt class="archiveItem_date">{{ article.locale_date }}</dt>
      <dd class="archiveItem_title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
  {% endfor %}
  </dl>
{% endblock %}
