{% extends "base.html" %}

{% if TIPUE_SEARCH_ENABLED %}
  {% block title %}
    Search
    {{ super() }}
  {% endblock title %}

  {% block assets %}
    {{ super() }}
    <script src="{{ SITEURL }}/theme/js/tipuesearch_page.js"></script>
  {% endblock %}

  {% block content %}
  <div class="siteContent_page">
    <h1 class="pageTitle"></h1>

    <div id="tipue_search_content" class="searchResults" data-content-location="{{ TIPUE_CONTENT_LOCATION }}"></div>
  </div>
  {% endblock %}
{% endif %}
