{% extends "base.html" %}

{% block title %}
  Articles tagged {{ tag|striptags }} on
  {{ super () }}
{% endblock %}

{% block content %}
<div class="siteContent_page">
  <h1 class="pageTitle">Articles tagged "{{ tag }}" on {{ SITENAME }}</h1>

  <ol class="articlesList list-noType">
    {% set articles_widget = false %}
    {% for article in articles %}
      {% include 'includes/articleitem.html' %}
    {% endfor %}
  </ol>

  <hr>

  {% include 'includes/tagcloud.html' %}
</div>
{% endblock %}
