{% extends "base.html" %}

{% block title %}
  Tags on
  {{ super () }}
{%endblock%}

{% block content %}
<div class="siteContent_page">
  <h1 class="pageTitle">Tags on {{ SITENAME }}</h1>

  {% include 'includes/tagcloud.html' %}
</div>
{% endblock %}