{% macro translations_for(article) %}
  {% if article.translations %}
    <h3 class="translations">Translations:</h3>
    {% for translation in article.translations %}
      <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
    {% endfor %}
  {% endif %}
{% endmacro %}
